.header{
    font-size: 25px;
    padding: 20px;
    text-align:center;
}

body {
	margin: 0px;
	padding: 0px;
	width:100%;
	background-image: url('img/images.jpg');
	background-repeat: repeat;
	padding-top: 40px;
	padding-left:20px;
}

.slider{
	max-width: 400px;
}

#development-value{
	background-color: rgba(0,0,0,0);
	border: 0;
	color: red;
}

#design-value{
	background-color: rgba(0,0,0,0);
	border: 0;
	color: red;
}

#business-value{
	background-color: rgba(0,0,0,0);
	border: 0;
	color: red;
}

#form-horizontal1
{
	position: absolute;
	left:30%;
	top:20%;
}

#profile-title1
{
	position: absolute;
	left:30%;
	top:20%;
}

td,th
{
	padding: 35px;
  
}

#center-load
{
	position: absolute;
	width: 50%;
    margin: 0 auto;
}

#white
{
	background: white;
}