<h3>Login</h3>
<form accept-charset="UTF-8">	

	<div class="span12"><label for="username">Username</label></div>
	<div class="span12"><input type="text" name="username" id="inputUsername"></div>

	<div class="span12"><label for="password">Password</label></div>
	<div class="span12"><input type="password" name="password" id="inputPassword"></div>

	<div class="span12"><input type="submit" id="loginButton" class="btn" value="Login"></div>

</form>	
<h3>Create</h3>
<form accept-charset="UTF-8">	
	
	<div class="span12"><label for="username">Username</label></div>
	<div class="span12"><input type="text" name="username" id="inputCreateUsername"></div>

	<div class="span12"><label for="email">Email</label></div>
	<div class="span12"><input type="text" name="email" id="inputCreateEmail"></div>

	<div class="span12"><label for="password">Password</label></div>
	<div class="span12"><input type="password" name="password" id="inputCreatePassword"></div>

	<div class="span12"><label for="password">Password Confirmation</label></div>
	<div class="span12"><input type="password" name="password_confirmation" id="inputCreatePasswordConfirmation"></div>

	<div class="span12"><input type="submit" id="createButton" class="btn" value="Create"></div>
</form>	