
<h1 class="text-info">Name's Profile</h1>
<div class="control-group">
  <label class="control-label" for="user-name">User's Name:</label>
  <div class="controls">

    <span><%= m.name %></span>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="email">Email:</label>
  <div class="controls">
    <span><%= m.email %></span>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="about-me">About Me:</label>
  <div class="controls">
    <span><%= m.about_me %></span>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="projects">Current Projects:</label>
  <div class="controls">
    <span><%= m.projects %></span>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="technologies">Technologies:</label>
  <div class="controls">
    <span><%= m.technologies %></span>
  </div>
</div>
<div class="control-group">
	<h3>Their focus as a teamate is:</h3>
	<div class="controls">
	  <label> Technology <input type="text" id="technology-value" class="span1" disabled></label>
    <div id="technology-slider" class="slider" disabled></div>
  </div>
  <div class="controls">
	  <label> Design <input type="text" id="design-value" class="span1" disabled></label>
    <div id="design-slider" class="slider" disabled></div>
  </div>
  <div class="controls">
	  <label> Business <input type="text" id="business-value" class="span1" disabled></label>
    <div id="business-slider" class="slider" disabled></div>
  </div>
</div>
<table class="table selection">
  <tr>
    <td>
      <h3>They are looking for:</h3>
    </td>
    <td>
      <label class="checkbox">
        <input type="checkbox" id="developer-select" disabled> Developer
      </label>
      <label class="checkbox">
        <input type="checkbox" id="designer-select" disabled> Designer
      </label>
      <label class="checkbox">
        <input type="checkbox" id="business-select" disabled> Business Partner
      </label>
    </td>
  </tr>
</table>
